body {
	background-color: #ccc;
	font-family: verdana;
    font-size: 95%;
}

section{
	margin: auto;
	background-color: #fff;
	padding: 10px;
	width: auto;
}

fieldset{
	width: auto;
	border: 3px solid #ddd;
	border-radius: 10px;
}

.campos{

	width: 200px;
	height: 30px;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin-top: 5px;

}

.campos:hover {
	box-shadow: 4px 0 0 #ddd;
}